<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.buktab.android" >

  <!--  <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
         >
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".Login"
            android:screenOrientation="portrait"/>
        <activity android:name=".insertintent"
            android:screenOrientation="portrait">

            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainMenu"/>
        </activity>

        <activity android:name=".Terms"
            android:screenOrientation="portrait">

            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".Register"/>
        </activity>


<activity android:name=".MainMenu"
    android:windowSoftInputMode="adjustPan"
    android:screenOrientation="portrait"
    />
        <activity android:name=".Register"
            android:screenOrientation="portrait"/>
        <activity android:name=".Searchintent"
            android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainMenu"/>
        </activity>
        <activity android:name=".ManageIntent"
            android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainMenu"/>
        </activity>

</application>

</manifest>
